.gradle/
build/
**/build/

gradle-app.setting

*.class
hs_err_pid*

**/generated-src/
**/*.tokens
**/*.interp

.idea/
*.iml
*.ipr
*.iws
out/

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

*.log
*.tmp
*.swp
*.bak

.env
